
#uno{
    float:left;
    width: 200px;
    height: 200px;
    background-color: red;
}
#dos{
    float:right;
    width: 200px;
    height: 200px;
    background-color: green;
}
#tres{
    position: relative;
    float: left;
    left: 400px;
    width: 200px;
    height: 200px;
    background-color: blue;
}
