html,body{
    width: 100%;
    height: 100%;
    margin: 0px;
}

#cajon{
    width: 50%;
    height: 50%;
    border: 3px solid black;
}

.rojo{
    background-color: red;
}

.azul{
    background-color: blue;
}