body,html{
    width: 100%;
    height: 100%;
    margin: 0px;
}

a{
    transition: all 500ms;
}

a:link{
    color: red;
}

a:visited{
    color: green;
}

a:hover{
    background-color: yellow;
}

a:active{
    background-color: grey;
}

