body{
    font-family: helvetica;
    font-size: 18px;
}

p:hover{
    font-weight: bold;
    background-color: red;
    color: white;
}

p:active{
    background-color: yellow;
    color: orangered;
}

.boton{
    float:left;
    width: 150px;
    height: 40px;
    border-radius: 8px;
    border-style: solid;
    
}

#uno{
    background-color: red;
}

#uno:hover{
    background-color:yellow;
}

#uno:active{
    background-color:orange;
}

#dos{
    background-color: blue;
}

#tres{
    background-color: orange;
}

#cuatro{
    background-color: yellow;
}

#sub_uno{
    float:left;
    width: 154px;
    height: 46px;
    overflow-x: hidden;
    overflow-y: hidden;
}

#sub_uno:hover{
    height: 170px;
}