.caja{
    color: white;
    float: left;
    position: relative;
    width: 150px;
    height: 150px;
}
#uno{
    background-color: red;
}

#dos{
    background-color: blue;
}

#tres{
    background-color: orange;
}