p {
    font-family: "Helvetica";
    width: 50%;
    margin-left: 25%;
    text-align: justify;
}

.campeonato {
    color: blue;
}

.liga{
    color:white;
    background-color: blue;
}

.jugadores {
    color:green;
}
.equipos {
    background-color: crimson;
    color: yellow;
}
.estadio {
    color:mediumpurple;
}

.destaque{
    font-weight: bold;
    text-decoration: underline;
}