html,body{
    margin: 0px;
    border: 0px;
    width: 100%;
    height: 100%;
    background-image: url("imagen/lupa.png");
    background-repeat: no-repeat;
    background-position:center bottom;
}

#menu{
    position:fixed;
    left: 0px;
    right: auto;
    bottom: 0px;
    top: auto;
    width: 50px;
    height: 500px;
    background-color: blue;
    border-top: 1px solid black;
    transition: width 600ms;
    z-index: 20;
}

#menu:hover{
    width: 250px;
}

.seccion_menu{
    position: relative;
    width: 100%;
    height: 49px;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    background-color: white;
    overflow-x: hidden;
    transition: all 500ms;
}

.seccion_menu:hover{
    height: 100px;
    background-color: yellow;
}

.icono_menu{
    position: absolute;
    right: 0px;
    left: auto;
    height: 100%;
    width: 50px;
    float: left;
    background-size: 40px;
    background-repeat: no-repeat;
    background-position: center center;
}

.texto_seccion{
    width: 200px;
    height: 100%;
    float: left;
}

#icono1{
    background-color: cadetblue;
    background-image: url("imagen/lupa.png");
}

#icono2{
    background-color: orange;
}

#icono3{
    background-color: blue;
}

.texto_seccion span{
    font-size: 24px;
    display: block;
    width: 100%;
    height: 60%;
    text-align: center;
    position: relative;
    top: 20%;
    font-family: Arial, Helvetica, sans-serif;
}

#cabecera{
    width: 100%;
    height: 100px;
    border-bottom: black 2px solid;
    position: fixed;
    top: 0px;
    bottom: auto;
}

.seccion_cab{
    float: left;
    margin-left: 20px;
    height: 100%;
    width: 150px;
    border-left: black 1px solid;
    border-right:black 1px solid;
    transition:all 500ms;
}

.seccion_cab:hover{
    width: 300px;
}

#contenido{
    height:100%;
    width: calc(100% - 110px);
    position: relative;
    left: 55px;
    background-color: red;
    z-index: 10;
}

.publicacion{
    height: 55%;
    width: 100%;
    border-bottom: 3px dashed black;
}

.encabezado{
    height: 20%;
    width: 100%;
    background-color: yellow;
}

.pub_contenido{
    height: 80%;
    width: 100%;
    background-color: orange;
}

.pub_imagen{
    float: left;
    height: 100%;
    width: calc(100%/3);
}

.pub_texto{
    float: left;
    height: 100%;
    width: calc((100%/3)*2);
    background-color: coral;
}