h1{
    width: 100%;
    font-family: 'Courier New', Courier, monospace;
    font-size: 115px;
    text-align: center;
    text-decoration: underline;
}

p{
    width: 600px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    text-align: justify;
    color: white;
    background-color: black;
}

b{
    text-decoration: underline lightcoral;
    font-style: italic;
    font-size: 24px;
}

otra{
    font-size: 12px;
    color:red;
    font-family:Geneva, Verdana, sans-serif;
}