#uno {
    width: 250px;
    height: 250px;
    background-color: yellow;
}

#dos {
    width: 300px;
    height: 450px;
    background-color: orange;
}

.caja {
    border-style: solid;
    border-color: black;
    border-width: 5px;
    
}