body{
    font-family: 'Courier New', Courier, monospace;
}

#uno {
    width: 250px;
    height: 250px;
    background-color: green;
}

#dos {
    width: 300px;
    height: 450px;
    
}

.caja {
    border-style: solid;
    border-color: black;
    border-width: 5px;
    background-color: blue;
}

.fondoRojo{
    background-color: red;
}